.wrapper {
  max-width: 1315px;
  margin: 0 auto;
  background-color: #8D2673;
}
.main__footer {
  outline: 1px dotted #000;
  width: 940px;
  height: auto;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}
.main__footer:before,
.main__footer:after {
  content: "";
  display: table;
}
.main__footer:after {
  clear: both;
}
.footer__h2 {
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}
.footer__links {
  outline: 1px dotted #000;
  width: 240px;
  height: auto;
  float: right;
}
.footer__info {
  outline: 1px dotted #000;
  width: 288px;
  float: left;
}
.footer__form {
  outline: 1px dotted #000;
  margin-right: 58px;
  width: 318px;
  float: left;
}
.footer__form label {
  display: inline-block;
  margin-bottom: 8px;
  text-transform: capitalize;
  font-size: 13px;
  color: #BF88A9;
}
.footer__form input {
  width: 298px;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  outline: none;
  border: none;
  margin-bottom: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.footer__form input[placeholder] {
  text-transform: capitalize;
}
.footer__form textarea {
  width: 298px;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  outline: none;
  margin-bottom: 8px;
  padding-top: 15px;
  border: none;
  height: 105px;
}
.main__header {
  outline: 1px dotted #000;
  width: 1000px;
  height: auto;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0;
}
body hr {
  display: none;
}
.button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  background-color: #76244C;
  position: relative;
}
.button:hover {
  background-color: #b13672;
}
.button:after {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f101";
  margin-left: 10px;
}
/*!
 *  Font Awesome 4.6.1 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fonts-awesome/fontawesome-webfont.eot?v=4.6.1');
  src: url('../fonts/fonts-awesome/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'), url('../fonts/fonts-awesome/fontawesome-webfont.woff2?v=4.6.1') format('woff2'), url('../fonts/fonts-awesome/fontawesome-webfont.woff?v=4.6.1') format('woff'), url('../fonts/fonts-awesome/fontawesome-webfont.ttf?v=4.6.1') format('truetype'), url('../fonts/fonts-awesome/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #fff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-right:before {
  content: "\f105";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
